In [1]:
import pandas as pd
import numpy as np

In [4]:
"""
    pandas object: series
"""

#Create a serise from an array

ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
# Two main attributes: 'values' and 'index'

arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [8]:
# Label-based Indexing
ser = pd.Series([0.25,0.5,0.75,1.0], index=['a', 'b', 'c', 'd'])
print(ser)
ind = ser.index
print(ind)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
"""
Dictionary 
"""

dict = {'a' : 1, 2 : 'two', 'third' : True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [15]:
"""
Create a series form a dictionary
"""

ser = pd.Series(dict)
print(ser)

population_dict = {'California' : 38332521,
                   'Texas' : 26448193,
                   'New York' : 26448193,
                   'Florida' : 26448193,
                   'Illinois' : 26448193,
                  }
population = pd.Series(population_dict)
print(population)

print(population['Texas' : 'Illinois'])

a           1
2         two
third    True
dtype: object
California    38332521
Texas         26448193
New York      26448193
Florida       26448193
Illinois      26448193
dtype: int64
Texas       26448193
New York    26448193
Florida     26448193
Illinois    26448193
dtype: int64

In [16]:
"""
Pandas Objects: DataFrame
"""

area_dict = {'California' : 38332521,
                   'Texas' : 26448193,
                   'New York' : 26448193,
                   'Florida' : 26448193,
                   'Illinois' : 26448193,
                  }

area = pd.Series(area_dict)
print(area)

California    38332521
Texas         26448193
New York      26448193
Florida       26448193
Illinois      26448193
dtype: int64

In [20]:
# Construct a DataFrame containing ;population' and 'area'

states = pd.DataFrame({'population': population, 'area': area})
print(states)
print(states.index)
print(states.columns)

            population      area
California    38332521  38332521
Texas         26448193  26448193
New York      26448193  26448193
Florida       26448193  26448193
Illinois      26448193  26448193
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')

In [ ]:

states = pd.DataFrame({'population' : population, 'area' : area})
print(states)

In [ ]:
arr =np.random.rand(3, 2)
print(arr, '\n')

pd.DataFrame(arr, columns=['foo', 'bar'], index=['a', 'b', 'c'])

In [ ]:
"""
Series object manipulation : dictionary-style
"""

ser =pd.Series([0.25, 0.5, 0.75, 1.0], 
               index=['a', 'b', 'c', 'd'])

print(0.25 in ser)

In [ ]:
"""
Series object
"""